* {
    box-sizing: border-box;
}

body {
    font-size: 1.5em;
    color: #1a1a1d;
    padding: 5em 0 0 0;
    line-height: 1.4em;
}

.header svg {
    float: left;
    height: 50px;
}

.header h1 {
    position: relative;
    left: 10px;
}